#title{
  background-color:#FF0063;
  color: #fff;
  text-align: left;
}
body{
  font-family:"Montserrat";
  text-align: center;
}
/* Heading */
.big-heading{
  font-size:"Montserrat-Bold"
  font-size: 3rem;
  line-height: 1.5;

}
.section-heading{
  line-height: 1.5;
  font-size: 5rem;
}
.price-text{
  line-height: 1.5;
  font-size: 3rem;
}
.feature-title{
  font-size:1.5rem;
}
.testimonial-text{
  line-height: 1.5;
  font-size: 3rem;
}
h1,h2,h3,h4,h5{
  /* color: #fff; */
  font-size: "Montserrat-Bold";
}
.container-fluid{
  padding: 3% 15% 9%;
}


.navbar{
  padding: 0 0 5.5rem;
}
.download-button{
  margin: 5% 5% 5% 0;
}
.nav-item{
  font-family: "Montserrat-light";
  font-size: 1.2rem;
  padding-right: 3.5rem;

}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.subtitles{
  margin-left: 30%;
}

.dog{
  width: 60%;
  transform:rotate(30deg);
  position: absolute;
}

#features{
  padding: 7% 1%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature-box{
  padding: 0 5%;
}
p{
  color: #470D21;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
/* .icon:hover{
  color: #3A3845;
} */
#testimonials{
  background-color: #FF0063;
  color: #fff;
}
.testimonial-image{
  border-radius: 100%;
  margin: 20px;
  width: 20%;
}
#press{
  background-color: #FF0063;
  padding-bottom: 3rem;
}
.press-logo{
  width: 15%;
  margin-right: 2rem;
}
.carousel-item{
  padding: 7% 15%;
}
#pricing{
color:black;
padding: 100px;
}
.pricing-column{
  padding:3% 2%;

}
#cta{
  background-color:#FF0063;
  font-family: Montserrat-Bold;
  color:#fff;
  padding: 7% 15%;
}
.ctah3{
    font-size: 3.rem;

}
#footer{
  padding:7% 15%;
  background-color:#fff;
  color: #323232;
  /* margin-bottom: -20px; */
}
.icon-footer{
  margin:2% 1%;
}

@media (max-width:1130px) {
  .dog{
    transform:rotate(0);
    position: static;

  }
#title{
  text-align: center;
}
}
